body {
    margin: 0;
    font-family: 400 15px/1.8 "Lato", sans-serif;
}

/* topnav */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .green_mobile {
        background-color: #04AA6D;
    }
}

.font_heading_mobile {
    font-size: 1em;
}

.font_paragraph_mobile {
    font-size: 0.8em;
}

.center_align {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* sidenav */


body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* slide show*/



​ * {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #888888;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.caption-border {
    background-color: #000;
    padding: 1rem;
}



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    /* Next & previous buttons */
    .prev,
    .next {
        padding: 7px;
        margin-top: -17px;
        font-size: 11px;

    }

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}



.border-w-shadow {
    border-style: solid;
    border-width: 1px;
    border-color: #dcdcdc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PARALLAX CODE*/


body,
html {
    height: 100%;
}

.parallax-1,
.parallax-2,
.parallax-3 {
    /* The image used */
    position: relative;

    /* Full height */
    height: 100%;
    opacity: 0.65;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-1 {
    background-image: url('https://yt-aiocreator.netlify.app/CHANNEL.PNG');
}




.parallax-2 {
    background-image: url('https://yt-aiocreator.netlify.app/Youtube_logo.png');
}

.parallax-3 {
    background-image: url('allinone.png');
}

.caption {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 40%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 17px;
}



h3 {

    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/* our team */





.title {
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    margin: 10px 0;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member {
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
}

.member img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #726a95;
    margin: 15px 0;
}

.member p {
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}

/* contact us section */


.map {
    background-color: white;
    height: 50%;
}

.contact-form {
    background-color: white;
    margin: 12px;
    height: auto;
    width: 40%;
    gap: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    background: #F8F8F8;
    width: 100%;
    height: auto;
    margin: 5% auto;
    box-shadow: 0px 0px 10px #C8C7D9;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}







.container .contact-form input,
.container .contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}



.container .contact-form .btn-send {
    background: #A383C9;
    width: 180px;
    height: 60px;
    color: #F8F8F8;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}


input {
    width: 100%;
    color: #04AA6D;
    padding: 10px;

}


@media only screen and (max-width: 520px) {
    .map {
        width: 100%;
        height: auto;
    }

    .contact-form {
        width: 100%;
    }
}

.abhishek {
    position: relative;
    right: 30px;

}


a.popup-link {
    padding: 17px 0;
    text-align: center;
    margin: 7% auto;
    position: relative;
    width: 220px;
    color: #fff;
    text-decoration: none;
    background-color: #446eac;
    border-radius: 3px;
    box-shadow: 0 5px 0 0 #eea900;
    display: block;
}

a.popup-link:hover {
    background-color: #C8102E;
    box-shadow: 0 3px 0 0 #111;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#popup {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}

#popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 99999999999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

@media (min-width:768px) {
    .popup-container {
        width: 600px;
    }
}

@media (max-width:767px) {
    .popup-container {
        width: 100%;
    }
}

.popup-container {
    position: relative;
    margin: 7% auto;
    padding: 30px 50px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

a.popup-close {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #fff;
    padding: 7px 10px;
    font-size: 20px;
}